html {
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.15;
    font-size: -webkit-calc(.48077vw + 10.23px);
    font-size: calc(.48077vw + 10.23px);
    min-height: 100%;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

html:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

body {
    height: 100%;
    color: white;
    font-family: Montserrat, sans-serif;
    background-color: transparent;
}

.here {
    border: 1px dashed red;
}

#root {}

h3 {
    font-size: 1.25rem;
    line-height: 1.17;
    margin-bottom: .8rem;
    font-weight: 900 !important;
}

input {
    line-height: 1.1;
    background-color: rgba(96, 123, 205, .1);
}

label {
    font-size: .75rem;
    line-height: 1.5;
}

.form-check-input {
    margin-top: 0;
    /* line-height: 1.5; */
}

.form-check {
    line-height: 1.1;
}

.fw-900 {
    font-weight: 900;
}